<!DOCTYPE html>
<html>

<head>

    <title>Page Title</title>

</head>

<body>
    <% for(let i = 0; i < response.length; i++) { %>
            <li><%= response[i].url %> - <%= response[i].title %></li>
    <% } %>
</body>

</html>